<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
               [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Pasirinkimai</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/create-curd-snack">Susikurk sūrelį</a>
      <a mat-list-item routerLink="/edit-curd-snack">Koreguok sūrelius</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="(isHandset | async)!.matches">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Sūrelių pasaulis</span>
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer></footer>
  </div>
</mat-sidenav-container>


